.midha
{
	width: 100px;
}
body
{
	background-attachment: fixed;
	background-image: url("https://wallpaperscraft.com/image/gray_texture_pattern_point_55258_1920x1080.jpg");
	background-position: top center;
	background-repeat: repeat-y;
}
h1
{
	color: white;
	font-family: "Monotype Corsiva", cursive;
	font-size: 300%;
	opacity: 0.65;
}
.sust
{
	color: white;
	font-family: cursive;
	font-size: 100%;
}
h2
{
	color: white;
}
hr
{
	border: 2px solid #C5CAE9;
}
a
{
	color: White;
}
h3
{
	color: white;
}
p
{
	color: white;
}
vel
{
	height: 400px;
}